body {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.pictureFrame {
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    border-color: black;
    
    border-width: 5px;
    height: 300px; 
    width:400px;

}

.navigation { 
    height: 50px; 
    width:800px;
    border-color: orange;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}   

.slides {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink:0;
    min-width: 0;
    border-color: red;
    
    border-width: 3px;
    height: 100%; 
    width:200%;
    
}

#watches {
    display:flex;
    align-items: center;
    border-color:green;
    border-style:solid;
    height:100%;
    width:100%;
    border-width:2px;
    padding:0px;

}

li { 
    flex:1;
    list-style-type: none;

    display:flex;
    justify-content: center;
    
}

.previous,
.next { 
    font-size: 40px;
}


img {
    width:100px;
    height:100px;
}

#navButtons {
    display:flex;
    padding:0px;
    flex:1;

}

#navButtons > li {
    display:flex;
    justify-content: center;
    
}

.navDot {
    border-radius: 10px;
    
}


.navDot.active {
    border-radius: 10px;
    background-color: red;
    
}